<!DOCTYPE html>
    <html>

        <head>
          <meta charset="utf-8">
          
            <title>
                Travlr - Your Blog  
            </title>
          
            
            
          <style>
            body{
                background-image: url(/static/grey_wash_wall.png);
            }
            
            .container{
                background-color: white;
                border-radius: 15px;
                margin: 10%;
            }
              
            .post{
                
            }
              
            .writing{
                font-family: 'Source Sans Pro', sans-serif;
            }
          </style>
        </head>



      <body>
          <div class="container">
              <div class="post">
                  <center><h1>Hello</h1></center>
                  <center><p>Hello Hello Hello Hello Hello</p></center>
              </div>
              
              <hr style="width: 75%">
              
              <div class="post">
                  <center><h1>Hello</h1></center>
                  <center><p>Hello Hello Hello Hello Hello</p></center>
              </div>
          </div>
      </body>
    </html>