<!DOCTYPE html>
    <html>

        <head>
          <meta charset="utf-8">
          
            <title>
                Travlr - Your Blog  
            </title>
          
<!-------------------------------------------------------------------------------------------------------->

            <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<!-------------------------------------------------------------------------------------------------------->
            
          <style>
            body{
                background-image: url(/static/grey_wash_wall.png);
            }
            
            .container{
                background-color: white;
                border-radius: 15px;
                margin: 10%;
            }
              
            .post{
                
            }
              
            .writing{
                font-family: 'Source Sans Pro', sans-serif;
            }
          </style>
        </head>


      <body>
          <nav class="navbar navbar-default">
            <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Travlr</a>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">Your Friends</a></li>
        <li><a href="#">Settings</a></li> 
        <li><a href="#">Log out</a></li> 
      </ul>
    </div>
  </div>
</nav>
          <div class="container">
              <div class="post">
                  <center><h1>Hello</h1></center>
                  <center><p>Hello Hello Hello Hello Hello</p></center>
              </div>
              
              <hr style="width: 75%">
              
              <div class="post">
                  <center><h1>Hello</h1></center>
                  <center><p>Hello Hello Hello Hello Hello</p></center>
              </div>
          </div>
      </body>
    </html>